<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="static/cat.css">
    <script src="static/cat.js"></script>
    <title>Flask HTML Results</title>
</head>

<body>
    <nav style="background-color:  rgb(61, 57, 57);">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo"> 요나트 <img class="img-responsive" src="{{ url_for('static', filename='images/pinkdaisy.png') }}" alt="pink daisy"> יונת </a>
            <ul class="right hide-on-med-and-down">
                <li><i class="fa-solid fa-crown"></i></li>
                <li> Hello {{ name }}! </li>
                <li><a href="static/comment.html">IHRA</a></li>
            </ul>
            <a href="index.html" data-target="slide-out" class="center-align sidenav-trigger"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
    <ul class="sidenav" id="slide-out">
        <li><a href="static/comment.html">IHRA</a></li>
    </ul>
    <div class="container">
        <div class="element aqu" style="grid-template-areas: nav">
            <h6>INTRODUCTION</h6>
            <p><b>HACKERTON MINI PROJECT</b>
            1️⃣ scrapes X for tweets on:
            -- Israel
            -- Zionism(t)
            -- Jews
            2️⃣ reads tweets, reads IHRA
            3️⃣ extracts user seed words from postgres database
            4️⃣ ask reader to select IRHA example(s)
            5️⃣ use the seed words and IHRA criteria to find suspect phrases
            6️⃣ analyse:
            Context,
            Intent,
            Form,
            Extent,
            Likelihood of the speech to produce immediate actions against its targets
            7️⃣ summarise and report results</p>
                
        </div>
        <div class="element cor" style="grid-area: sidebar">
            <div class="details">
                <br>
                <img class="ava" src="{{ url_for('static', filename='images/my_avatar.jpg') }}" alt="Avatar">
                <h3>Yonat Raen</h3>
                <h5>First Hackathon</h5>
                <br><br>
            </div>
            <div class="contact">
                <hr>
                <br>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-telephone" viewBox="0 0 16 16">
                        <path
                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg> +972-585-141822</p>
                <br>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope-at" viewBox="0 0 16 16">
                        <path
                            d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
                        <path
                            d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                    </svg> admissions@developers.institute</p>
                <br>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg> Jerusalem </p>
                <br>
                <hr>
                <p><a href="https://www.linkedin.com/in/alexandra-yonat-raen-5072b311/"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path
                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                        </svg></a>
                </p>
                <br>
                </p><a href="https://twitter.com/YonatRaen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-twitter-x" viewBox="0 0 16 16">
                    <path
                        d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                    </svg></a>
                </p>
                <br>
                <p><a href="https://www.facebook.com/alexandra.raen"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path
                                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                        </svg></a></p>
                <br>
                <p><i>scan QR code</i></p>
                <p><img src="{{ url_for('static', filename='images/whatsapp.jpg') }}" alt="WhatsApp QR code" width="70px"></p>
            </div>
        </div>
        <div class="element bro" style="grid-area: center">
            <h6>RESULTS</h6>
            <b>EXACT MATCHES FOUND</b>
            <table>
                <thead>
                    <th>seed words</th>
                    <th>tweets</th>
                </thead>
                <tbody>
                    {% for key, value in data.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="element pin" style="grid-area: block">
            <h6>EVALUATION</h6>
            <ul>
                <li>It was an interesting project and it was great to be able to put all the skills I have learnt to the test.</li>
                <li>Of course, I would have been able to do much more if I had more time!</li>
                <li>The categorisation algorithm done basic mapping, but can easily be expanded.</li>
                <li>Spycopg2 was used for the database interface, this functionality could easily be expanded.</li>
                <li>Flask was used to render the html from the python code. It asks for the name of the user before loading the html page.</li>
                <li>I was surprised that I managed to complete it all before the deadline!</li>
            </ul>
        </div>
        <div class="element pur" style="grid-area: footer">
            <h6>USER GUIDE</h6>
            <p><em>Don't forget to enter your name when prompted.</em>
            </p>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>