h6 {
    color: rgb(61, 54, 54);
}

.container {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto repeat(5, auto);
    grid-template-columns: repeat(2, 35% 65%);
    grid-template-areas:
        "sidebar nav"
        "sidebar center"
        "sidebar block"
        "sidebar block"
        "sidebar block"
        "sidebar footer"
        "sidebar footer";
}

.nav-wrapper {
    text-align: center;
    vertical-align: middle;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
    margin: auto;
    object-fit: cover;
    text-align: center;
    mix-blend-mode: multiply;
}

.element {
    border: 1px solid black;
}

.aqu {
    background-color: rgb(243, 234, 234);
}

.cor {
    background-color: rgb(218, 208, 208);
}

.pur {
    background-color: rgb(218, 208, 208);
}

.pin {
    background-color: rgb(243, 234, 234);
}

.bro {
    background-color: rgb(218, 208, 208);
}

.details {
    margin: auto;
    text-align: center;
    gap: 5px;
    font-family: "Kode Mono", monospace;
}

.contact {
    margin: auto;
    text-align: center;
    gap: 5px;
}

.ava {
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 45%;
    height: auto;
    object-fit: contain;
}

hr {
    width: 80%;
    text-align: left;
}

p,
ul {
    margin: 5px;
}

.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}
